body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#lyricsContainer {
    margin-top: 20px;
    white-space: pre-line;
}


.like-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease; /* Add transform transition for a subtle animation */
}

.like-button.liked {
    transform: scale(1.2); /* Increase the size when liked */
}

.heart-icon {
    font-size: 24px; /* Adjust the font size as needed */
    color: #e74c3c; /* Heart color for liked state */
    transition: color 0.3s ease; /* Add color transition for a smooth change */
}

.like-button:hover {
    transform: scale(1.2); /* Scale on hover for a subtle interaction */
}



header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header h1 {
    margin: 0;
}